# 1. 全てのファイルを一旦無視 
*

# 2. 全ての階層のフォルダ（ディレクトリ）を辿れるようにする 
# !*/ から !**/ に変更することで、どれだけ深いサブフォルダの中身も見に行きます
!**/

# 3. 保存したい拡張子（ホワイトリスト） 
# !**.py とすることで全階層のPythonファイルを許可します
!**/*.py
!**/*.xlsm
!**/*.parquet
!**/*.pdf
!.gitignore

# 4. 特定の個別ファイルを許可 
!TDnet適時開示情報.xlsm

# 5. 特定のフォルダとその中身を明示的に許可する場合 
!Quants/
!SQL集/

# 6. 【最優先】絶対に保存したくないファイル（最後に記述） 
# フォルダが許可されていても、以下の条件に合うものは除外されます
*.xlsx
*.csv
__pycache__/
*.pyc
venv312/