# ==============================
# Python
# ==============================
__pycache__/
*.pyc

# ==============================
# 仮想環境
# ==============================
venv/
venv312/

# ==============================
# TDnet大量データ
# ==============================
TDnet適時情報開示サービス/00_TDnet(決算短信)XBRL/

# ==============================
# その他
# ==============================
*.zip