# ==============================
# 1. すべて無視
# ==============================
*

# ==============================
# 2. フォルダは探索可能
# ==============================
!**/

# ==============================
# 3. 保存許可する拡張子
# ==============================
!**/*.py
!**/*.xlsm
!**/*.parquet
!**/*.pdf
!**/*.sql
!**/*.csv
!**/*.xlsx
!**/*.zip
!.gitignore

# ===================================================
# 4. 特定フォルダは禁止（最優先）→→→→ 保存されない
# ============================================
TDnet適時情報開示サービス/00_TDnet(決算短信)XBRL/
TDnet適時情報開示サービス/00_TDnet(決算短信)XBRL/**

# ===================================================
# 5. Pythonキャッシュ →→→→ 保存されない
# ===================================================
__pycache__/
*.pyc

# ===================================================
# 6. 仮想環境 →→→→ 保存されない
# ===================================================
venv/
venv312/

# ===================================================
# 7. 一般データ →→→→ 保存されない
# ===================================================
# *.csv
# *.xlsx
# *.zip