# 1. 初期設定：全て保存対象外とする
*

# 2. 全階層のフォルダ（ディレクトリ）を辿れるようにする 
# !*/ から !**/ に変更することで、どれだけ深いサブフォルダの中身も見に行きます
!**/

# 3. 保存したい拡張子（ホワイトリスト） 
!**/*.py
!**/*.xlsm
!**/*.parquet
!**/*.pdf
!.gitignore

# 4. 特定個別ファイルを保存(ホワイトリスト以外) 
!TDnet適時開示情報.xlsm
!tdnet.duckdb

# 5. 特定のフォルダとその中身を明示的に許可する場合 
!Quants/
!Quants/**
!SQL集/
!SQL集/**

# 6. 絶対に保存したくないfile/folder
*.xlsx
*.csv
__pycache__/
*.pyc
venv312/
taxonomy(Web資料)/
TDnet(決算短信)XBRL/

